__pycache__
.DS_Store
.env
test.py
notes.py
flask.log
Versionhistory.txt
update_server_remote.sh
tournaments/*
tournament_cache/*
approvals/*
results/*
build_your_startlist/*
build_sphinx.txt
static/img/stock/*
logs/*
.vscode/*