html,
body {
    font-family: margin-mvb, sans-serif;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

i {
    font-size: 1.5em;
    margin: 0 20px;
    transition: 0.3s;
}

button {
    align-self: left;
    width: auto;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #444;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

button:hover {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
    translate: 4px 4px;
}

button:disabled {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
    background-color: #888;
    cursor: not-allowed;
}

.main-wrapper {
    width: calc(100vw - 40px);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    height: calc(100vh - 40px);
}

.container {
    display: grid;
    grid-template-columns: auto repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    gap: 10px;
    height: 100%;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.standings-frame {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
}

.matches-frame {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}



.options {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 10px;
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(3, 1fr);
    grid-gap: 10px;
    width: 200px;
    border-radius: 10px;

    button {
        width: 100%;
        margin: 0px;
    }

    #main_id_container {
        grid-column: span 2;
    }

    #Disqualify {
        background-color: #b90000;
        color: #ffffff;
    }

    #Results {
        background-color: #004db9;
        color: #ffffff;
    }

    #Advance, #Tableau, #Brackets, #Results, #Simulate {
        display: none;
    }
}

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
}

#Tournament_Name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
}

#Tournament_Location {
    font-size: 16px;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    text-align: center;
}

#main_id_container,
#main_id_container_pw {
    /* Style the container element */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    padding: 8px 0px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
}

#main_id_container:hover,
#main_id_container_pw:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    translate: 4px 4px;
    cursor: pointer;
}

#main-id-container:hover,
#main-id-container_pw:hover {
    box-shadow: 0 0 8px rgba(219, 52, 52, 0.5);
    background-color: rgb(255, 10, 10);
    cursor: pointer;
}

#main_id_text,
#main_id_text_pw {
    font-family: input-mono, monospace;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 24px;
}

#main_id_description,
#main_id_description_pw {
    display: block;
    margin: auto;
    font-size: 12px;
    user-select: none;
}

#statistics_table_container {
    align-self: right;
}

#Advance {
    background-color: #00b900;
    color: #ffffff;
    grid-column: span 2;
}

#Simulate {
    background-color: #b90000;
    color: #ffffff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9998;
}

.overlay-flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay_description {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    padding: 20px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"] {
    width: 100%;
    padding: 0.8em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    outline: none;
    text-align: center;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="number"]:focus {
    border-color: #e71818;
    box-shadow: 0 0 8px rgba(219, 52, 52, 0.5);
    text-align: center;
}

form button[type="submit"] {
    width: 100%;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    margin-top: 10px;
}
form button[type="submit"]:hover {
    background-color: #444;
    transition: 0.3s;
}

.Information-Block {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.Information-Block:hover {
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.Information-Block-Description {
    font-size: 10px;
}

.Information-Block-Number {
    font-size: 20px;
}

.Information-Wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.span-2 {
    grid-column: span 2;
}
.span-3 {
    grid-column: span 3;
}


#disqualify-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.overlay-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    overflow: auto;
    background-color: #fff;
    padding:20px;
    z-index: 9999;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.overlay-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay-header h2 {
    margin: 0;
}

.overlay-content {
    padding: 10px;
}

.close {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#search-form,
#disqualify-form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    align-items: stretch;
}

#search-button,
#disqualify-button {
    font-size: 1.2rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button {
    background-color: #4CAF50;
    margin-top: 0;
}

#search-results {
    text-align: center;
}

#disqualify-button {
    background-color: #b90000;
    grid-column: 1 / 3;
}

#disqualify-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#disqualify-reason {
    margin-top: 2rem;
    grid-column: 1 / 3;
}



@media screen and (max-width: 1350px) {
    .container {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto repeat(2, 80vh);
    }

    .options {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .header {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .matches-frame {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    
    .standings-frame {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

}

@media screen and (max-width: 750px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto repeat(2, 80vh);
    }

    .options {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: center;
    }
    
    .header {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .matches-frame {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .standings-frame {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

}
