html {
    font-size: 14px;
}

body {
    font-family: margin-mvb, sans-serif;
    margin: 0;
}

.Wrapper {
    width: 100vw;
    height: 100svh;
    background-color: #fff;
    color: #000;
    margin: 0;
}

.Container {
    width: calc(100% - 4rem);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 4fr 1fr 1fr 3fr auto;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0 2rem;
    

}

.Section {

}

.Game-Controls {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;

    justify-items: center;
    align-items: center;

    gap: 0.5rem;

    #Plus-Red {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    #Timer-Display {
        grid-column: 2 / 3;
        grid-row: 3 / 4;

        width: 100%;
        height: 100%;
        background-color: #fff;
        color: #000;
        font-size: 2.5rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        font-variant-numeric: lining-nums;

        transition: 0.3s ease-in-out;

        &.Timer-Display--Active {
            color: #000;

            @keyframes blink {
                10% {
                    scale: 1;
                }
                50% {
                    scale: 1.1;
                }
                90% {
                    scale: 1;
                }
            }

            animation: blink 1s ease-in-out infinite;

        }

        &.Timer-Display--Paused {
            color: red;
        }

        &.Timer-Display--Break {
            color: grey;
        }

        &.Timer-Display--Ready {
            color: green;
        }
    }
    #Plus-Green {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
    #Score-Red {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    #Score-Green {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    #Minus-Red {
        grid-column: 1 / 2;
        grid-row: 4 / 6;
    }
    #Minus-Green {
        grid-column: 3 / 4;
        grid-row: 4 / 6;
    }
    #Manipulator-Plus {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    #Manipulator-Minus {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    #Sets {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .Manipulator {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: center;
        gap: 0.5rem;
        white-space: nowrap;
        overflow: hidden;

        & > *:first-child {
            justify-self: right;
        }
        & > *:last-child {
            justify-self: left;
        }

        .Manipulator-Button {
            min-width: calc(0.7rem * 2);
            border-radius: 5px;
            background-color: #eee;
            width: fit-content;
            cursor: pointer;
            padding: 0.3rem 1rem;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: #eee;
                color: #000;
            }
        }
    }

    .Score-Button {
        width: 100%;
        height: 100%;
        border: 1px solid #000;
        border-radius: 1rem;
        background-color: #000;
        font-size: 1.5rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    .Score-Button--Plus {
        color: green;
    }
    .Score-Button--Minus {
        color: red;
    }

    .Score-Number {
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: #000;
        font-size: 2.5rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.Header, .Footer {
    min-height: 1rem;
}

.Info-Block {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    justify-items: stretch;
    align-items: center;

    .Card {
        // grid-row: 1 / 2;
        font-size: 1.5rem;
        background-color: #eee;
        border-radius: 5px;
        padding: 0.5rem 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
    }

    #Card-Green-Yellow,
    #Card-Red-Yellow {
        &.Card--Inactive {
                color: orange;
                background-color: #eee;
            }

        &.Card--Active {
            color: #fff;
            background-color: orange;
        }
    }

    #Card-Green-Red,
    #Card-Red-Red {
        &.Card--Inactive {
                color: red;
                background-color: #eee;
            }

        &.Card--Active {
            color: #fff;
            background-color: red;
        }
    }

    #Card-Green-Black,
    #Card-Red-Black {
        &.Card--Inactive {
            color: #000;
            background-color: #eee;
        }

        &.Card--Active {
            color: #fff;
            background-color: black;
        }
    }

    .Names {
        grid-row: 2 / 3;
        grid-column: span 3;
        justify-self: stretch;

        .Name-Box {
            color: #fff;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            padding: 0.5rem 0rem;

            white-space: nowrap;
            overflow: scroll;
        }
    }

    #Name-Red {
        text-align: left;
        background-color: red;
        border-radius: 5px;
    }
    #Name-Green {
        text-align: right;
        background-color: green;
        border-radius: 5px;
    }

    .Gap {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
   
}

.Options {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items: stretch;
    gap: 1rem;

    .Options-Item {
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        background-color: #eee;
        border-radius: 5px;

        div {
            margin: 0.5rem 0rem 0rem 0rem;
            font-size: 0.8rem;

        }
        i {
            margin: 0.5rem 0rem;
            font-size: 1.5rem;
        }
    }
}


.Timer {
    width: 100%;
    height: 100%;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;

    #Start-Stop {
        margin: auto;
    }
}