body {
    font-family: margin-mvb, sans-serif;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0;
}

.wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.not-in-iframe .wrapper {
    padding: 20px;
    width: calc(100vw - 40px);
}

.in-iframe {
    overflow-x: hidden;
    .wrapper {
        padding: 0;
        padding-right: 5px;
        width: calc(100% - 5px);
    }
}

.section {
    background-color: #eee;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1, h2 {
    text-align: center;
    margin: 0 20px;
}

i {
    font-size: 1.5rem;
    margin: 0 20px;
    transition: 0.3s;
}

i:hover {
    cursor: pointer;
    color: rgb(151, 151, 151);
    transform: translate(-2px, -2px);
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 20px;
} 

.header > .cell > i {
    font-size: 1.2em;
    margin: 0;
    &:hover {
        transform: translate(0, 0);
        color: #000000;
        cursor: auto;
    }
}

.container {
    display: grid;
    grid-template-columns: auto 3rem minmax(10rem, 1fr) 5rem minmax(10rem, 1fr) repeat(2, 3rem);
    row-gap: 10px;
    align-items: stretch;
    justify-items: stretch;
}

.header, .body, .item {
    display: contents;
}

.item > * {
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

.item:hover > .cell {
    $box-shadow-size: 3px;
    box-shadow: $box-shadow-size $box-shadow-size 0 rgba(0, 0, 0, 0.2);
    transform: translate(-$box-shadow-size, -$box-shadow-size);
}

.first-column {
    border-radius: 10px 0 0 10px;
    grid-column: 1 / 2;
}

.last-column {
    border-radius: 0 10px 10px 0;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    white-space: nowrap;
    z-index: 100;
}

.group {
    padding-left: 10px;
}

@keyframes piste-free {
    0% {
        background-color: orange;
        scale: 1.1;
    }
    33% {
        background-color: orangered;
        scale: 1;
    }
    66% {
        background-color: orangered;
        scale: 1;
    }
    100% {
        background-color: orange;
        scale: 1.1;
    }
}

@keyframes piste-staged {
    0% {
        color: orangered;
        scale: 1.2;
    }
    25% {
        color: orangered;
        scale: 1.2;
    }
    50% {
        color: #000;
        scale: 1;
    }
    75% {
        color: #000;
        scale: 1;
    }
    100% {
        color: orangered;
        scale: 1.2;
    }
}

@keyframes piste-ongoing {
    0% {
        background-color: green;
    }
    50% {
        background-color: rgb(0, 150, 0);
    }
    100% {
        background-color: green;
    }
}

.piste {
    .piste-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0.4rem;
        color: #fff;
        width: 1.5rem;
        border-radius: 10px;
        transition: 0.3s ease-in-out;
        font-weight: bold;
        font-size: 1rem;

        &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
            transform: translate(-2px, -2px);
        }
    }    
}
.piste-completed {
    color: #000 !important;
    background-color: #fff;

    &:hover {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
        transform: translate(0px, 0px) !important;
        cursor: default !important;
    }
}

.piste-ongoing {
    animation: piste-ongoing 2s infinite;
    color: #fff;

    &:hover {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
        transform: translate(0px, 0px) !important;
        cursor: default !important;
    }
}

.piste-empty {
    animation: piste-free 1.5s infinite;
    color: #fff;
}

.piste-staged {
    animation: piste-staged 2s infinite;
    background-color: #fff !important;
}

.piste-tba {
    background-color: #fff;
    color: #000 !important;
    &:hover {
        color: #fff !important;
        background-color: #333;
    }
}

.red {
    .Name-Banner:hover {
        box-shadow: inset 0 0 0 3px red;
    }
}

.score {
    font-size: 1.2rem;
    font-variant-numeric: tabular-nums;

    i {
        font-size: 1rem !important;
    }
}

.green {
    .Name-Banner:hover {
        box-shadow: inset 0 0 0 3px green;
    }
}

.wildcard {
    .Name-Banner:hover {
        box-shadow: inset 0 0 0 0 !important;
        cursor: default !important;
    }
}

.forward {}

.options {}

.Name-Banner {
    background-color: #eee;
    border-radius: 10px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
    transition: 0.3s ease-in-out;
}

.flag {
    width: 26px;
    height: 18px;
    margin-right: 10px;
}

.option-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: #fff;
    background-color: #333;
    border-radius: 10px;
    width: 100%;
    transition: 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
        transform: translate(-2px, -2px);
    }
}

.cell > .option-button-wrapper > i {
    font-size: 1rem;
    margin: 0;
    &:hover {
        transform: translate(0, 0);
        color: inherit;
        cursor: inherit;
    }
}

.forward-button-ongoing {
    animation: piste-ongoing 2s infinite;
}

.forward-button-completed {
    background-color: #eee;
    color: #000;
}

.forward-button-staged {
    &:hover {
        background-color: orangered;
    }
}

.forward-button-blocked {
    background-color: #eee;
    color: #000;
    &:hover {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
        transform: translate(0px, 0px) !important;
        cursor: default !important;
    }
}



// Keyframe loading animation for placeholder cells
@keyframes loading_placeholder {
    0% {
        background-color: #fff;
    }
    50% {
        background-color: rgb(247, 247, 247);
    }
    100% {
        background-color: #fff;
    }
}

.placeholder {
    animation: loading_placeholder 1s infinite ease-in-out;
    grid-column: 1 / -1;
    border-radius: 10px;
    height: 34.5px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(0, -35px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(0, -35px);
    }
}

.piste-wrapper > i {
    color: inherit;
    &:hover {
        color: inherit;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2) !important;
        transform: translate(0px, 0px) !important;
    }
}


#piste_options,
#match_options,
#score_options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    padding-top: 30px;
    margin-top: -25px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 10px 10px;
    z-index: 1;
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        margin: 0 8px;
        color: #fff;
        background-color: #333;
        border-radius: 10px;
        transition: 0.3s ease-in-out;
    
        &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
            transform: translate(-2px, -2px);
        }

        i {
            font-size: 1rem;
            margin: 0 8px;
            &:hover {
                transform: translate(0, 0);
                color: #fff;
                cursor: inherit;
            }
        }
    }

    .priority-active {
        background-color: orange;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
        transform: translate(-3px, -3px);

        &:hover {
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
            transform: translate(0px, 0px);
        }
    }

    .priority-low-active {
        background-color: red;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
        transform: translate(-3px, -3px);

        &:hover {
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
            transform: translate(0px, 0px);
        }
    }

    input[type="text"] {
        padding: 8px;
        margin: 0 8px;
        width: 10rem;
        border: 2px solid #333;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: #fff;
        outline: none;
        text-align: center;
        font-size: 0.8rem;
        transition: 0.3s ease-in-out;
        cursor: text;

        &:hover {
            border-color: orange;
        }

        &:focus {
            border-color: orange;
            box-shadow: inset 5px 5px 0px rgba(0,0,0,0.2);
        }
    }
}

#piste_options {
    grid-column: 1 / 4;
}

#score_options {
    grid-column: 3 / 6;

    #red_score_input {
        border-color: red;

    }

    #green_score_input {
        border-color: green;
    }
}

#match_options {
    grid-column: 5 / -1;
}