body {
    font-family: margin-mvb, sans-serif;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

table {
    border-collapse: collapse;
    width: 100%;
    position: sticky;
    min-height: 1vh;
}

h1, h2 {
    text-align: center;
}

  
th, td {
    text-align: center;
    border-bottom: 0.5px solid #ddd;
}

tr {
    height: 30px;
}

thead {
    top: 0;
    background-color: rgb(174, 174, 174);
    color: rgb(255, 255, 255);
}

.section_headline_reload {
    cursor: pointer;
    transition: 0.3s;
}

.section_headline_reload:hover {
    cursor: pointer;
    color: blue;
    transition: 0.3s;
}

.section_headline_reload:active {
    color: grey;
}

.cell-rank {
    text-align: right;
}

.cell-name {
    text-align: left;
}

.cell-nationality {
    padding-left: 10px;
    padding-right: 10px;
}

.normal,
.eliminated,
.not-eliminated,
.advancing {
    transition: 0.3s;
    cursor: pointer;
}

.normal {
    background-color: rgb(255, 255, 255);
}

.eliminated {
    background-color: rgb(255, 202, 202);
}

.not-eliminated {
    background-color: rgb(255, 255, 255);
}

.advancing {
    background-color: rgb(202, 255, 202);
}

.normal:hover,
.eliminated:hover,
.not-eliminated:hover,
.advancing:hover {
    background-color: rgb(203, 203, 203);
    transition: 0.3s;
}

.normal:active,
.eliminated:active,
.not-eliminated:active,
.advancing:active {
    background-color: rgb(255, 238, 0);
    color: rgb(68, 68, 68);
}

.podium {
    font-weight: bold;
}