body {
    font-family: margin-mvb, sans-serif;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

table {
    border-collapse: collapse;
    width: 100%;
    position: sticky;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    margin: 0 20px;
}

#header {
    background-color: white;
    position: sticky;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    z-index: 1;
    top: 0;
    padding-top: 20px;
    justify-items: center;
}

.header-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

i {
    font-size: 1.5em;
    margin: 0 20px;
    transition: 0.3s;
}

i:hover {
    cursor: pointer;
    color: rgb(151, 151, 151);
    transform: translate(-2px, -2px);
}

th {
    position: sticky;
    background-color: #c8c8c8;
    color: #000000;
    z-index: 1;
}
  
th, td {
    text-align: center;
    border-bottom: 0.5px solid #ddd;
}

tr {
    height: 30px;
}

thead {
    top: 0;
    background-color: #c8c8c8;
    color: #000000;
}

.cell-rank {
    text-align: right;
}

.cell-name {
    text-align: left;
}

.cell-nationality {
    padding-left: 10px;
    padding-right: 10px;
}

.normal,
.eliminated,
.not-eliminated,
.advancing {
    transition: 0.3s;
    cursor: pointer;
}

.normal {
    background-color: rgb(255, 255, 255);
}

.eliminated {
    background-color: rgb(255, 202, 202);
}

.not-eliminated {
    background-color: rgb(255, 255, 255);
}

.advancing {
    background-color: rgb(202, 255, 202);
}

.normal:hover,
.eliminated:hover,
.not-eliminated:hover,
.advancing:hover {
    background-color: rgb(203, 203, 203);
    transition: 0.3s;
}

.normal:active,
.eliminated:active,
.not-eliminated:active,
.advancing:active {
    background-color: rgb(255, 238, 0);
    color: rgb(68, 68, 68);
}

.podium {
    font-weight: bold;
}


form {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 1em;
    background-color: #e2e2e2;
    border-radius: 5px;
}

form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    width: 100%;
    padding: 0.6em;
    font-size: 0.8em;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    color: #333;
    transition: 0.3s ease-in-out;
}

form select:hover {
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    transform: translate(-3px, -3px);
    cursor: pointer;
}

form select:focus {
    border-color: #db3434;
    text-align: center;
}

/* Breakpoint 800px */
@media screen and (max-width: 1000px) {
    #header {
        grid-template-columns: 1fr;
    }
    .header-wrapper {
        justify-content: center;
    }
}