<!DOCTYPE html>
<html>
    <head>
        <title>Management Dashboard</title>
        <link rel="stylesheet" href="/static/css/dashboard.css">
        <link rel="stylesheet" href="/static/css/loading_screen.css">
        <link rel="stylesheet" href="https://use.typekit.net/wex7leu.css">
        <link href="/static/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
        <link href="/static/assets/fontawesome/css/brands.css" rel="stylesheet">
        <link href="/static/assets/fontawesome/css/solid.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body id="body" data-tournament="{{ tournament_id }}">
        <div class="main-wrapper">
            <div class="section">
                <div class="container">
                    <div class="options">
                        <div id="main_id_container" onclick="copyID()" title="Copy the Tournament ID">
                            <div id="main_id_text">XXXXXX</div>
                            <div id="main_id_description">Tournament ID</div>
                        </div>
                        <button id="Advance" onclick="advance()" title="Advance to next Stage"><i class="fa-solid fa-forward-fast fa-beat"></i></button>
                        <button id="QR" onclick="openQR()" title="Display a QR Code and generate a Link for the fencers' login"><i class="fa-solid fa-qrcode"></i></button>
                        <button id="Tableau" onclick="openTableau()" title="Open the Tableau View of the current Preliminary Stage"><i class="fa-solid fa-table-cells"></i></button>
                        <button id="Brackets" onclick="openBrackets()" title="Open the Bracket View of the Elimination-Round"><i class="fa-solid fa-diagram-project"></i></button>
                        <button id="Results" onclick="download_results()" title="Download all Result-CSV-Files of the tournament" style="display: none;"><i class="fa-solid fa-file-arrow-down"></i></button>
                        <button id="Pistes" onclick="pistes()" title="Open the Piste Overview"><i class="fa-solid fa-location-dot"></i></button>
                        <button id="Disqualify" onclick="disqualify()" title="Disqualify / Retire a Fencer from the Tournament"><i class="fa-solid fa-user-slash"></i></button>
                        <button id="Simulate" onclick="simulate()" title="Simulate Matches. For Testing only."><i class="fa-solid fa-gears"></i></button>
                    </div>
                    <div class="header">
                        <div class="options-header">
                            <div id="Tournament_Name">–</div>
                            <div id="Tournament_Location">–</div>
                        </div>
                        <div class="Information-Wrapper">
                            <div class="Information-Block span-3">
                                <div class="Information-Block-Description">Current Stage</div>
                                <div class="Information-Block-Number" id="Tournament_Stage">–</div>
                            </div>
                            <div class="Information-Block span-3">
                                <div class="Information-Block-Description">Elimination Mode</div>
                                <div class="Information-Block-Number" id="elimination_mode">–</div>
                            </div>
                            <div class="Information-Block">
                                <div class="Information-Block-Description">Pre. Groups</div>
                                <div class="Information-Block-Number" id="num_prelim_groups">–</div>
                            </div>
                            <div class="Information-Block">
                                <div class="Information-Block-Description">Pre. Rounds</div>
                                <div class="Information-Block-Number" id="num_prelim_rounds">–</div>
                            </div>
                            <div class="Information-Block span-3">
                                <div class="Information-Block-Description">First Elimination Round</div>
                                <div class="Information-Block-Number" id="first_elimination_round">–</div>
                            </div>
                            <div class="Information-Block">
                                <div class="Information-Block-Description">Wildcards</div>
                                <div class="Information-Block-Number" id="num_wildcards">–</div>
                            </div>
                            <div class="Information-Block">
                                <div class="Information-Block-Description">Fencers</div>
                                <div class="Information-Block-Number" id="num_fencers">–</div>
                            </div>
                            <div class="Information-Block">
                                <div class="Information-Block-Description">Clubs</div>
                                <div class="Information-Block-Number" id="num_clubs">–</div>
                            </div>
                            <div class="Information-Block">
                                <div class="Information-Block-Description">Nationalities</div>
                                <div class="Information-Block-Number" id="num_nationalities">–</div>
                            </div>
                            <div class="Information-Block">
                                <div class="Information-Block-Description">Pistes</div>
                                <div class="Information-Block-Number" id="num_pistes">–</div>
                            </div>
                            <div class="Information-Block">
                                <div class="Information-Block-Description">Matches</div>
                                <div class="Information-Block-Number" id="num_matches">–</div>
                            </div>
                            <div class="Information-Block">
                                <div class="Information-Block-Description">Completed</div>
                                <div class="Information-Block-Number" id="num_matches_completed">–</div>
                            </div>
                        </div>
                    </div>
                    
                    <iframe src="matches" id="matches_frame" class="frame matches-frame" title="Matches"></iframe>
                    
                    <iframe src="standings" id="standings_frame" class="frame standings-frame" title="Standings"></iframe>
                    
                </div>
            </div>
        </div>


        <div class="overlay" id="login-overlay">
            <div class="overlay-flex-wrapper">
                <div class="overlay_description">
                    <h1>Management Dashboard</h1>
                    <div id="main_id_container_pw" style="margin: auto" onclick="copyID()">
                        <div id="main_id_text_pw">XXXXXX</div>
                        <div id="main_id_description_pw">Tournament ID</div>
                    </div>
                </div>
                <form id="overlay-form">
                    <h2>Please Enter Master Password</h2>
                    <input type="password" name="password" id="password-input">
                    <button type="submit" id="submit">Submit</button>
                </form>
            </div>
        </div>
        <div id="loading-screen">
            <div id="loading-icon"></div>
        </div>

        <div id="disqualify-overlay">
            <div class="overlay-window">
                <div class="overlay-header">
                    <h2>Disqualify / Retire a Fencer</h2>
                    <span class="close">&times;</span>
                </div>
                <div class="overlay-content">
                    <form id="search-form">
                        <input type="text" id="search-input" placeholder="Search fencer by start number or name...">
                        <button type="submit" id="search-button">Search</button>
                    </form>
                    <div id="search-results"></div>
                    <form id="disqualify-form">
                        <input type="text" id="disqualify-reason" placeholder="Reason for disqualification...">
                        <input type="checkbox" id="confirm-checkbox">
                        <label for="confirm-checkbox">I am sure I want to disqualify the Fencer above from the tournament.</label>
                        <button type="submit" id="disqualify-button" disabled>Disqualify</button>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bcryptjs@2.4.3/dist/bcrypt.min.js"></script>
        <script src="/static/js/dashboard.js"></script>
    </body>
</html>