<!DOCTYPE html>
<html>
    <head>
        <title>Management Dashboard</title>
        <link rel="stylesheet" href="/static/css/dashboard.css">
        <link rel="stylesheet" href="https://use.typekit.net/wex7leu.css">
    </head>
    <body>
        <div class="flex-container">
            <div class="flex-column-1">
                <div id="options_frame" class="flex-item-options" width="100%" height="100%">
                    <div>
                        <div id="main_id_container">
                            <div id="main_id_text">!XXXXXX!</div>
                            <div id="main_id_description">Tournament ID</div>
                        </div>
                        <div class="button-column">
                            <button id="Advance" onclick="advance()">Advance to next Stage</button>
                            <button id="Update" onclick="update()">Update everything</button>
                            <button id="Simulate" onclick="simulate()">Simulate all</button>
                        </div>
                    </div>
                    <div class="options_column">
                        <div id="Tournament_Name">!Tournament!</div>
                        <div id="Tournament_Location">!Location!</div>
                        <div id="Tournament_Stage">!Round!</div>
                        <div id="elimination_mode">Elimination Mode:<br></div>
                    </div>
                    <div id="statistics_table_container">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="2">Tournament Statistics</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Fencers</td>
                                <td id="num_fencers">0</td>
                            </tr>
                            <tr>
                                <td>Clubs</td>
                                <td id="num_clubs">0</td>
                            </tr>
                            <tr class="divider">
                                <td>Preliminary Groups</td>
                                <td id="num_prelim_groups">0</td>
                            </tr>
                            <tr>
                                <td>Preliminary Rounds</td>
                                <td id="num_prelim_rounds">0</td>
                            </tr>
                            <tr class="devider">
                                <td>First Elimination Round</td>
                                <td id="first_elimination_round">0</td>
                            </tr> 
                            <tr>
                                <td>Wildcards</td>
                                <td id="num_wildcards">0</td>
                            </tr>
                            <tr class="divider">
                                <td>Pistes</td>
                                <td id="num_pistes">0</td>
                            </tr>
                            <tr class="divider">
                                <td>Matches</td>
                                <td id="num_matches">0</td>
                            </tr>
                            <tr>
                                <td>Matches Completed</td>
                                <td id="num_matches_completed">0</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <iframe src="matches" id="matches_frame" class="flex-item-matches" width="100%"></iframe>
            </div>
            <div class="flex-column-2">
                <iframe src="standings" id="standings_frame" class="flex-item-standings" width="100%"></iframe>
                <div style="height: 10px;"></div>
            </div>
        </div>
    <script src="/static/js/dashboard.js"></script>
    </body>
</html>