<!DOCTYPE html>
<html>
    <head>
        <title>Management Dashboard</title>
        <link rel="stylesheet" href="/static/css/dashboard.css">
        <link rel="stylesheet" href="https://use.typekit.net/wex7leu.css">
    </head>
    <body>
        <div class="flex-container">
            <div class="flex-column-1">
                <div id="options_frame" class="flex-item-options" width="100%" height="100%">
                    <div>
                        <div id="main_id_container">
                            <div id="main_id_text">JPE60C</div>
                            <div id="main_id_description">Tournament ID</div>
                        </div>
                        <div class="button-column">
                            <button id="generate_matches" onclick="generate_matches()">Generate Matches</button>
                            <button id="Advance">Advance to next Stage</button>
                        </div>
                    </div>
                    <div class="options_column">
                        <div id="Tournament_Name">Tournament</div>
                        <div id="Tournament_Location">Location</div>
                        <div id="Tournament_Stage">PRELIMINARY ROUND 1 / 2</div>
                    </div>
                    <div id="statistics_table_container">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="2">Tournament Statistics</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Fencers</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Clubs</td>
                                <td>0</td>
                            </tr>
                            <tr class="divider">
                                <td>Preliminary Groups</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Preliminary Rounds</td>
                                <td>0</td>
                            </tr>
                            <tr class="divider">
                                <td>Elimination Mode</td>
                                <td>Placements</td>
                            </tr>
                            <tr>
                                <td>First Elimination Round</td>
                                <td>0</td>
                            </tr> 
                            <tr>
                                <td>Wildcards</td>
                                <td>0</td>
                            </tr>
                            <tr class="divider">
                                <td>Pistes</td>
                                <td>0</td>
                            </tr>
                            <tr class="divider">
                                <td>Matches</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Matches Completed</td>
                                <td>0</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <iframe src="matches" id="matches_frame" class="flex-item-matches" width="100%" height="100%"></iframe>
            </div>
            <div class="flex-column-2">
                <iframe src="standings" id="standings_frame" class="flex-item-standings" width="100%" height="100%"></iframe>
            </div>
        </div>
    <script src="/static/js/dashboard.js"></script>
    </body>
</html>