<html>
    <head>
        <title>Imprint</title>
        <link rel="stylesheet" href="/static/css/imprint.css"></link>
        <link rel="stylesheet" href="https://use.typekit.net/wex7leu.css">
    </head>
    <body>
        <div class="Wrapper">
            <div class="Section">
                <h1>Imprint</h1>
                <p>This website is a web app in the development stage. The content, features and functionalities of the app are subject to change without prior notice. The website is owned and operated by Tade Strehk, and is intended for informational purposes only.</p>
                <p>Tade Strehk makes no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained in the website for any purpose.</p>
                <p>Tade Strehk will not be liable for any errors, omissions, or inaccuracies in the information provided or any losses, damages or expenses arising from the use of this website.</p>
                <p>The website and its contents are protected by copyright and trademark laws. The contents of the website may not be reproduced, modified, or used for commercial purposes without prior written permission from [Your Company Name].</p>
                <p>Please note that this imprint applies only to the website and does not apply to the web app once it is officially launched and made available for use.</p>
            </div>
            <div class="Section">
                <h2>Contact</h2>
                <p>Tade Strehk</p>
                <p><a href="mailto:fencewithfriends@gmx.de">fencewithfriends@gmx.de</a></p>
            </div>
        </div>
    </body>
</html>