<!DOCTYPE html>
<html>

<head>
    <title>FenceWithFriends</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="https://use.typekit.net/wex7leu.css">
    <link href="/static/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/static/assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/static/assets/fontawesome/css/solid.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
</head>

<body>
    <div id="header">
        <img src="/static/img/stock/landing_hero2.jpg" alt="Fencer" id="landing_hero">
        <!-- <div class="copyright_text">Foto von <a
                    href="https://unsplash.com/@alevisionco?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">alevision.co</a>
                auf <a
                    href="https://unsplash.com/de/fotos/X8pTJ7fjqCE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </div> -->
        <img src="/static/img/stock/landing_hero_mobile_small.jpg" alt="Fencer" id="landing_hero_mobile">
        <div class="hero_section">
            <h1>Focus on <span class="text-pop-up">FENCING</span>,<br>
                not on organizing</h1>
            <p class="header-text">FenceWithFriends helps you create and manage the fencing tournament of your dreams.</p>
            <button class="cta-button" id="start_tournament" onclick="new_tournament()" style="background-color: red">
                <div class="button-content">
                    <i class="fa-solid fa-plus"></i>
                    <span>Start New Tournament</span>
                </div>
            </button>
            <button class="cta-button" id="button_manage" onclick="login_manager()">
                <div class="button-content">
                    <i class="fa-solid fa-key"></i>
                    <span style="text-decoration:line-through;">Master-Login</span>
                </div>
            </button>
            <button class="cta-button" id="button_referee" onclick="login_referee()">
                <div class="button-content">
                    <i class="fa-solid fa-eye"></i>
                    <span style="text-decoration:line-through;">Referee-Login</span>
                </div>
            </button>
            <button class="cta-button" id="button_participant" onclick="login_fencer()">
                <div class="button-content">
                    <i class="fa-solid fa-image-portrait"></i>
                    <span>Fencer-Login</span>
                </div>
            </button>
        </div>
        <div class="ScrollDown"><i class="fas fa-angle-down"></i></div>
    </div>
    <div class="container">
        <div class="img1" style="grid-area: img1">
            <img src="/static/img/stock/illustration_1.jpeg" alt="Fencer">
        </div>
        <div class="text-block" style="grid-area: text1" id="textblock-introduction">
            <h1>Easily organize and manage your <span class="text-pop-up">TOURNAMENTS</span></h1>
            <p>FenceWithFriends makes it easy to manage big and small fencing tournaments with different rulesets, including (multiple) preliminary groups, <del>repechage</del> and placement matches. It tracks scores and calculates standings and results in real-time. Save time and focus on what matters most - the competition.</p>
            <p>All Fencers get access to their very own Fencer-Hub, where they can find detailed information about the upcoming matches, statistics about their perfomance and most importantly the next piste they are fencing on.</p>
            <p>It is free and open-source. There is no registration required. You just need a Startlist as a comma delimited CSV file. You can download a template and sample file and read the <a href="#Startlist-Instructions">Instructions on how to format the Startlist CSV</a> below.</p>
        </div>
    
        <div class="text-block" style="grid-area: text2" id="textblock-get-started">
            <h1>How to get <span class="text-pop-up">started</span></h1>
            <p>To get started, you just click on "New Tournament" above. For any questions regarding the process or the Web-Application, please refer to our Userguide. We are still in the writing process, but you even now can find detailed information about the App.</p>
            <p>If you have any questions or suggestions, please contact us via E-Mail or on Github.</p>
            <div class="button-grid" style="justify-content: center;">
                <div onclick="openUserguide()" class="cta-button" style="background-color: blue;">
                    <div class="button-content">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <span>User Guide</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="img2" style="grid-area: img2">
            <img src="/static/img/stock/illustration_2.jpeg" alt="Fencer">
        </div>

        <div class="img3" style="grid-area: img3">
            <img src="/static/img/stock/illustration_3.jpeg" alt="Fencer">
        </div>
        <div class="text-block" style="grid-area: text3" id="textblock-startlist">
            <h1 id="Startlist-Instructions">The <span class="text-pop-up">Startlist</span> File</h1>
            <p>The startlist file is a comma delimited CSV file. The first line contains the column names. If you don't want to spend hours in your text-editor counting and positioning commas, we recommend you our Startlist-Builder, that makes it very easy to create your Startlist-File on the go.</p>
            <p>If you already have an EXCEL-Sheet or similar, you can also download the CSV-Template below. In case you just want to test how the App works, we also provided you a Startlist Example with imaginary fencers.</p>
            <div class="button-grid" style="justify-content: center;">
                <div onclick="{window.open('build-your-startlist', '_blank')}" class="cta-button" style="background-color: red;">
                    <div class="button-content">
                        <i class="fa-solid fa-wand-magic-sparkles"></i>
                        <span>Startlist-Builder</span>
                    </div>
                </div>
                <a href="csv-template" class="cta-button">
                    <div class="button-content">
                        <i class="fa-solid fa-file-arrow-down"></i>
                        <span>CSV Template</span>
                    </div>
                </a>
                <a href="example-startlist" class="cta-button">
                    <div class="button-content">
                        <i class="fa-solid fa-file-arrow-down"></i>
                        <span>Example</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="text-block" style="grid-area: text4" id="textblock-codebase">
            <h1>The <span class="text-pop-up">Codebase</span></h1>
            <p>FenceWithFriends is a Python-based Web-Application hosted on a webserver in Germany. The Code is completely open source and available throug our documentation (where the code is explained) and Github (where we are collaborating and keeping our version history). We are very open to participation, so if you are a Programmer and interested in joining this fun project, reach out to us!</p>
            <p>Our Code is Licensed under the Creative Commons BY-NC 4.0 License. You can find details in our <a href="https://github.com/TadeSF/fencing_tableau">Github Repository</a>.</p>
            <div class="button-grid">
                <div onclick="openDocumentation()" class="cta-button">
                    <div class="button-content">
                        <i class="fa-solid fa-file-code"></i>
                        <span>Documentation</span>
                    </div>
                </div>
                <div onclick="openGithub()" class="cta-button">
                    <div class="button-content">
                        <i class="fa-brands fa-github"></i>
                        <span>Github</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="img4" style="grid-area: img4">
            <img src="/static/img/stock/illustration_4.jpeg" alt="Fencer">
        </div>

        <div class="text-block quotes">
            <h1>What people are saying</h1>
            <blockquote>
                <p>"This web app has revolutionized the way we run our tournaments. It's user-friendly and has saved us countless hours of paperwork."</p>
                <cite>- John Doe, Tournament Director</cite>
            </blockquote>
            <blockquote>
                <p>"As a fencer, I love the real-time standings updates and being able to see my results immediately after my match. This web app has definitely improved the tournament experience for all of us."</p>
                <cite>- Jane Doe, Club Fencer</cite>
            </blockquote>
        </div>
    </div>
    <footer>
        <div>
            <a href="/imprint">Imprint</a><br>
            <a href="/privacy">Privacy Policy</a><br>
            <a href="/terms">Terms of Service</a>
        </div>
        <div>
            Version: {{ version }}<br>
            Copyright 2023 © Tade Strehk, Moritz Hellmich<br>
            Licence: CC BY-NC
        </div>
    </footer>

    <!-- Cookie Consent Banner -->
    <div class="cookie-banner" id="cookieBanner">
        <p>This website uses cookies to ensure you get the best experience on our website. By using our website, you consent to our use of cookies in accordance with the terms of our <a href="/privacy">privacy policy</a>.</p>
        <button id="cookieConsentButton" onclick="acceptCookies()" style="background-color: green;">Accept</button>
        <button id="cookieConsentButton" onclick="acceptCookies()" style="background-color: red;">Decline</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bcryptjs@2.4.3/dist/bcrypt.min.js"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>