<!DOCTYPE html>
<html>
  <head>
    <title>DuellingDynasty</title>
    <link rel="stylesheet" href="static/css/index.css">
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h1>Fencing Tournament App</h1>
        </div>
        <div class="card-body">
          <p>Welcome to the DuellingDynasty App, the ultimate tool for managing small and informal fencing tournaments at a club level!</p>
          <ul>
            <li>Support for preliminary and intermediate rounds with individual groups</li>
            <li>Direct elimination</li>
            <li>Placement matches and repechage options</li>
            <li>Seeded and random seeding options</li>
          </ul>
          <button class="button" id="start_tournament" onclick="window.location.href='/start_form'">Start Tournament</button>
          <script src="static/js/index.js"></script>
        </div>
      </div>
    </div>
  </body>
</html>