<!DOCTYPE html>
<html>
    <head>
        <title>LOGS</title>
        <link rel="stylesheet" href="static/css/logs.css">
        <link rel="stylesheet" href="https://use.typekit.net/wex7leu.css">
        <link href="/static/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
        <link href="/static/assets/fontawesome/css/brands.css" rel="stylesheet">
        <link href="/static/assets/fontawesome/css/solid.css" rel="stylesheet">
        <link href="/static/assets/firacode/fira_code.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="Wrapper">
            <div class="Section">
                <h1>LOGS</h1>
                <input type="password" id="pw" placeholder="Password">
                <button id="submit" onclick="get_logs()">Submit</button>
                <div class="Container">
                    <!-- <div class="Log-Block">
                        <h2>Server</h2>
                        <div class="Log-Content" id="Server">
                            Hello World! 0123456789
                        </div>
                    </div> -->
                    <div class="Log-Block">
                        <h2>Tournament</h2>
                        <div class="Log-Content" id="Tournament">
                            Wow, so empty!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/logs.js"></script>
    </body>
</html>