<!DOCTYPE html>
<html>
  <head>
    <title>Fencing Tournament Matches</title>
    <link rel="stylesheet" href="matches.css">
  </head>
  <body>
    <h1>Current Matches</h1>
    <h2 id="stage"></h2>
    
    <table id="matches_table">
      <thead>
        <tr>
          <th style="display: none;">#</th>
          <th>Group</th>
          <th>Piste</th>
          <th style="text-align: right; background-color: #008000; padding-right: 10px;">Green</th>
          <th width="40px" style="background: rgb(0,128,0); background: linear-gradient(90deg, rgba(0,128,0,1) 10%, rgba(255,0,0,1) 90%);"></th>
          <th style="text-align: left; background-color: #ff0000; padding-left: 10px;">Red</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="matches">
      </tbody>
      <tfoot>
      </tfoot>
    </table>
    <script src="eel.js"></script>
    <script src="matches.js"></script>
  </body>
  </html>