<!DOCTYPE html>
<html>

    <head>
        <title>FenceWithFriends</title>
        <link rel="stylesheet" href="/static/css/piste_overview.css">
        <link rel="stylesheet" href="https://use.typekit.net/wex7leu.css">
        <link href="/static/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
        <link href="/static/assets/fontawesome/css/brands.css" rel="stylesheet">
        <link href="/static/assets/fontawesome/css/solid.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="height=device-height, initial-scale=1.0">
    </head>

    <body data-tournament_id="{{ tournament_id }}" data-num_pistes="{{ num_pistes }}">
        <div class="Wrapper">
            <h1 class="Title">Piste Overview</h1>
            <div class="Container" id="piste_container"></div>
        </div>
        <script src="/static/js/piste_overview.js"></script>
    </body>

</html>