<!DOCTYPE html>
<html>
  <head>
    <title>DuellingDynasty</title>
    <link rel="stylesheet" href="static/css/start_form.css">
    <link href="/static/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/static/assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/static/assets/fontawesome/css/solid.css" rel="stylesheet">
  </head>
  <body>
    <form method="POST" enctype="multipart/form-data">
        <input type="text" id="name" name="name" placeholder="Tournament Name"><br>
        <input type="text" id="location" name="location" placeholder="Location"><br>
        <br>
        <label for="fencers">Fencers:</label>
        <input type="file" id="fencers" name="fencers" accept=".csv"><br>
        <br>
        <label for="first_elimination_round">First Elimination Round:</label>
        <select id="first_elimination_round" name="first_elimination_round">
          <option value="default">Calculate automaticly</option>
          <option value="128th">128th</option>
          <option value="64th">64th</option>
          <option value="32th">32th</option>
          <option value="16th">16th</option>
          <option value="QF">QF</option>
          <option value="SF">SF</option>
          <option value="Final">Final</option>
        </select><br>
        <br>
        <label for="elimination_mode">Elimination Mode:</label>
        <select id="elimination_mode" name="elimination_mode">
          <option value="KO">KO</option>
          <option value="Repechage">Repechage</option>
          <option value="Placement">Placement</option>
        </select><br>
        <br>
        <div class="checkbox_container">
          <div class="form_flex">
            <input type="checkbox" id="only_elimination" name="only_elimination">
            <label for="only_elimination">Only Elimination</label><br>
          </div>
          <div class="form_flex">
            <input type="checkbox" id="no_intermediate" name="no_intermediate">
            <label for="no_intermediate">No Intermediate</label><br>
          </div>
        </div>
        <br>
        <button type="submit" value="submit">Create Tournament</button>
      </form>
  </body>
</html>