<!DOCTYPE html>
<html>

<head>
    <title>Matches</title>
    <link rel="stylesheet" href="/static/css/matches.css">
    <link href="/static/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/static/assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/static/assets/fontawesome/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/wex7leu.css">
</head>

<body data-tournament_id="{{ tournament_id }}" data-pistes="{{ num_pistes }}">
    <div class="wrapper">
        <div class="section">
            <div id="header">
                <h1>Matches</h1>
                <i class="fa-solid fa-sync" id="reload" onclick="get_matches()"></i>
                <i class="fa-solid fa-floppy-disk" onclick="savePDF()"></i>
                <i class="fa-solid fa-external-link" id="open_in_new_tab" onclick="open_in_new_tab()"></i>
                <i class="fa-solid fa-filter" id="filter" onclick="toggleFilter()"></i>
            </div>

            <div class="container">
                <div class="header">
                    <div class="cell group first-column"><i class="fa-solid fa-layer-group"></i></div>
                    <div class="cell piste"><i class="fa-solid fa-location-dot"></i></div>
                    <div class="cell red"><i class="fa-solid fa-circle-user" style="color: red"></i></div>
                    <div class="cell score"><i class="fa-solid fa-trophy"></i></div>
                    <div class="cell green"><i class="fa-solid fa-circle-user" style="color: green"></i></div>
                    <div class="cell forward"><i class="fa-solid fa-forward-step"></i></div>
                    <div class="cell options last-column"><i class="fa-solid fa-gear"></i></div>
                </div>
                <div class="body" id="tablebody">
                    <div class="cell placeholder"></div>
                    <div class="cell placeholder"></div>
                    <div class="cell placeholder"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/matches.js"></script>
</body>

</html>