<!DOCTYPE html>
<html>
  <head>
    <title>Matches</title>
    <link rel="stylesheet" href="/static/css/matches.css">
    <link href="/static/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/static/assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/static/assets/fontawesome/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/wex7leu.css">
  </head>
  <body>
    <div id="header">
      <h1>Matches</h1>
      <i class="fa-solid fa-sync" id="reload" onclick="get_matches()"></i>
      <i class="fa-solid fa-floppy-disk" onclick="savePDF()"></i>
      <i class="fa-solid fa-external-link" id="open_in_new_tab" onclick="open_in_new_tab()"></i>
    </div>
    <div style="height: 70px;"></div>
    
    <table id="matches_table">
      <thead>
        <tr>
          <th style="display: none;">#</th>
          <th>Group</th>
          <th>Piste</th>
          <th class="th-green"><div class="th-green-div">Green</div></th>
          <th width="40px"></th>
          <th class="th-red"><div class="th-red-div">Red</div></th>
          <th width="100px">Options</th>
        </tr>
      </thead>
      <tbody id="matches">
      </tbody>
      <tfoot>
      </tfoot>
    </table>
    <div id="prompt">
      <form id="form" style="display: flex; flex-direction: row;">
        <input type="text" id="form_id" name="form_id"  style="display: none;">
        <input type="text" id="form_greenScore" name="form_greenScore" placeholder="Green Fencer Score" pattern="^(0|[1-9]|[1-2][0-9])$">
        <p>   :   </p>
        <input type="text" id="form_redScore" name="form_redScore" placeholder="Red Fencer Score">
        <button type="submit" id="submit_score">Submit</button>
        <button type="button" id="closePrompt" onclick="closePromptWindow()"><i class="fa-solid fa-xmark"></i></button>
      </form>
    </div>
    <div style="height: 60px;"></div>
    <script src="/static/js/matches.js"></script>
  </body>
  </html>